<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Login:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Login_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_Login/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Login" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC-4.1.2.RELEASE" />
          <element id="library" level="project" name="Spring-4.1.2.RELEASE" />
          <element id="library" level="project" name="Spring Web Services-2.0.2" />
          <element id="library" level="project" name="com.fasterxml.jackson.annotations.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>